.flex{
    display: flex;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.back_black{
    background-color: black;
}
.text-white{
    color: white;
}
.line-height{
    line-height: 1.7;
}
.bold{
    font-weight: bold;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-style-gradient {
    display: inline-block;
    background-image: linear-gradient(125deg, #9f6eed, #fc907e, #9f6eed, #fc907e) !important;
    background-size: 200% !important;
    background-clip: text;
    /* -webkit-background-clip: text; */
     -webkit-text-fill-color: transparent; 
    /* -webkit-animation: Gradient 10s ease infinite !important;
    -moz-animation: Gradient 10s ease infinite !important; 
    animation: Gradient 10s ease infinite !important;   */
}

@font-face {
    font-family: 'kaleko';
    src: url('/kaleko-205-round/Kaleko.205.Round/Kaleko205Round-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: 'kaleko';
    src: url('/kaleko-205-round/Kaleko.205.Round/Kaleko205Round-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
} */
body{
    border: 0px;
    margin: 0px;
    font-family: 'kaleko' , sans-serif;
}
.pad-left{
    padding-left: 4vw;
}
.ontime{
    margin-top: 20vh;
    width: 45vw;
}
.hero{
    justify-content: space-between;
    height: 115vh;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 10%;
}
.hero h1{
    font-size: 50px;
}
.hero-info{
    font-size: 18px;
}
.hero img{
    width: 42vw;
}

.hero-div img{
    width: 200px;
}
.hero-div{
    margin-top: 60px;
}

 .ontime-start{
    height: 44px;
    width: 215px;
    border-radius: 40px;
    background: linear-gradient(135deg, #f5b2a2, #c560f7);
} 
@keyframes pop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1.1);
    }
}
.ontime-start:hover + #beauty {
    animation: pop 0.3s ease forwards;
    width: 200px;
}
.ontime-start span{
    background-image: linear-gradient(125deg, #9f6eed, #fc907e, #9f6eed, #fc907e);
     -webkit-background-clip: text;
     color: transparent;
    font-weight: 800;
}
.ontime-start div{
    border-radius: 30px;
    padding: 10px 20px;
}


.q{
    flex-direction: column;
    height: 100vh;
    align-items: center;
    padding-top: 20vh;
    gap: 40px;
}
.q1{
    gap: 20px;
    padding: 0px 30px;
}
.q2{
    width: 260px;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    background-color: rgb(240, 233, 250);
    height: 320px;
}
.q2 h2{
    font-weight: bold;
}
.q2 span{
    font-size: 15px;
    font-weight: 600;
    
}
.q .q1 .q2 img{
    height: 70px;
}

.samosa{
    justify-content: space-between;
    padding-right: 30px;
}
.samosa-image img {
    object-fit: cover;
    object-position: right;
    height: 80vh;
    width: 30vw;
    border: 1px solid violet;
    border-radius: 20px;
} 

.samosa .main{
    width: 55vw;
    position: relative;
}
.samosa .main .info{
    height: 17vw;
    font-weight: 600;
    font-size: 16px;
}

.samosa .main .diksha img{
    height: 65px;
    border-radius: 50%;
    
}
.her{
    transform: translateY(-15px);
    margin-left: 15px;
    margin-right: 28vw;
}

.her h3{
    margin-bottom: 15px;
}
.her span{
    font-size: 14px;
}
.samosa .direction img{
    height: 35px;
    margin-right: 20px;
    margin-top: 15px;
} 
.samosa .last{
    margin-top: 57px;
}
.samosa .last div{
    background-color: rgb(240, 233, 250);
    margin-right: 20px;
    width: 550px;
    height: 110px;
    align-items: center;
    border-radius: 15px;
}
.samosa .last div h1{
    margin-bottom: 0px;
    background-image: linear-gradient(125deg, #9f6eed, #fc907e, #9f6eed, #fc907e);
     -webkit-background-clip: text;
     color: transparent;
     font-weight: 1500;
}
.samosa .last div h3{
    margin: 10px;
    padding: 0px;
}
.read-out{
    background-image: linear-gradient(125deg, #9f6eed, #fc907e, #9f6eed, #fc907e);
    
}
.samosa .last .read{
    background-color: white;
    width: 227px;
    height: 107px;
    margin-right: 1px;
    margin-left: 1px;
}
.samosa .last .read h4{
    background-image: linear-gradient(125deg, #9f6eed, #fc907e, #9f6eed, #fc907e);
     -webkit-background-clip: text;
     color: transparent;
}

.grow{
    height: 110vh;
    background-color: black;
}
.grow div{
    background: linear-gradient(125deg, #9f6eed, #fc907e, #9f6eed, #fc907e);
    height: 70vh;
    width: 75vw;
    align-items: center;
    color: white;
    border-radius: 20px;
    background-size: 400% 400%;
    animation: gradientAnimation 20s ease infinite;
}
.heading{
    font-size: 34px;
    font-weight: bold;
    margin-top: 15vh;
    margin-bottom: 7vh;
}
.line{
    line-height: 1.5;
    font-weight: bolder
}
.grow button{
    padding: 10px 18px;
    color: white;
    background-color: black;
    border-radius: 30px;
    font-size: 16px;
    margin-top: 6vh;
    border: 2px solid black;
    cursor: pointer;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}






